$font-size: 1rem !default;
$font-size-base: $font-size;
//$input-height: 2.1875rem !default;
$input-height: 1.95rem !default;
$border-radius: 0px !default;
$link-hover-decoration: underline !default;
$material: true !default;
$fluent: false !default;
$standard: false !default;